<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile Number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.mobile_number %></td>
        <td><%= link_to 'Show', cinema_user_path(id: user.id) %></td>
        <%# <td><%= link_to 'Edit', edit_cinema_user_path(cinema, user) %>
        <%# <td><%= button_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>