<!DOCTYPE html>
<html>
  <head>
    <title>CinemaBooking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <% if logged_in? %>
    <p>Logged in as <%= current_user.email %></p>
    <%= link_to "Logout", cinema_logout_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_cinema_session_path(@cinema) %>
  <% end %>

  <%= yield %>
</body>

</html>
